<div class="container" *ngIf="hardysoft">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f= "ngForm">
                <div class="form-group">
                    <label for="nombre">Habilidad</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="hardysoft.nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje de habilidad</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="hardysoft.porcentaje" required>
                </div>
                <button class="btn btn-black">Editar habilidad
                </button>
            </form>

        </div>
    </div>
</div>

