<div class="Educacion" style="padding: 5%">
  <h2>EDUCACIÓN</h2>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaeduc" *ngIf="isLogged">Agregar Educación</button>
  </div>

  <div class="col lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h2>{{Educacion.nombreE}}</h2>
          </td>
          <td>{{Educacion.descripcionE}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-dark" routerLink="/editeduc/{{Educacion.id}}"><i class="fa-regular fa-pen-to-square"></i></button></td>
          <td  *ngIf="isLogged">
            <button (click)="delete(Educacion.id)"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>







<div class="Educacion" style="padding: 5%">
  <h2>EDUCACIÓN</h2>
</div>
<ul>
  <li class="educ1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img
            class="img-fluid"
            style="width: 100%"
            src="../../../assets/certificado-AP-1.png"
            alt="Certificado"
          />

          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
          <h4 id="Institucion">Argentina Programa</h4>
          <h5 id="cursado">Primera Etapa</h5>
          <h5 id="título">#YSé Programar</h5>
          <h6 id="fecha">Octubre-Diciembre, 2021</h6>
        </div>

        <div class="editEducacion col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="deleteDatos col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </li>

  <li class="educ2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img
            class="img-fluid"
            style="width: 100%"
            src="../../../assets/certificado-Algoritmos.png"
            alt="Certificado"
          />

          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <h4 id="Institucion">Plataforma de Aprendizaje Virtual</h4>
          <h5 id="cursado"></h5>
          <h5 id="título">"Algoritmos en Programación"</h5>
          <h6 id="fecha">21/06/2022</h6>
        </div>

        <div class="editEducacion col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="deleteDatos col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </li>

  <li class="educ3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img
            class="img-fluid"
            style="width: 100%"
            src="../../../assets/certificado-AP-1.png"
            alt="Certificado"
          />

          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <h4 id="Institucion">Argentina Programa</h4>
          <h5 id="cursado">Segunda Etapa</h5>
          <h5 id="título">"Full Stack Developer Jr."</h5>
          <h6 id="fecha">Febrero-Agosto, 2022</h6>
        </div>

        <div class="editEducacion col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="deleteDatos col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
