<div class="Proyectos" style="padding: 5%">
  <h2>PROYECTOS</h2>
</div>
<ul>
  <li class="proy1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img
            class="img-fluid"
            style="width: 100%"
            src="../../../assets/certificado-AP-1.png"
            alt="Proyecto"
          />

          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
          <h4 id="proyecto">Proyecto</h4>
          <h5 id="descripcion">descripcion</h5>
          <h6 id="fecha">fecha</h6>
        </div>

        <div class="editProyecto col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="deleteDatos col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </li>

  <li class="proy2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img
            class="img-fluid"
            style="width: 100%"
            src="../../../assets/certificado-Algoritmos.png"
            alt="Proyecto"
          />

          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <h4 id="proyecto">Proyecto</h4>
          <h5 id="descripcion">descripcion</h5>
          <h6 id="fecha">fecha</h6>
        </div>

        <div class="editProyecto col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="deleteDatos col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </li>

  <li class="proy3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img
            class="img-fluid"
            style="width: 100%"
            src="../../../assets/certificado-AP-1.png"
            alt="Proyecto"
          />

          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <h4 id="proyecto">Proyecto</h4>
          <h5 id="descripcion">descripcion</h5>
          <h6 id="fecha">fecha</h6>
        </div>

        <div class="editProyecto col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>

        <div class="deleteDatos col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <button>
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
