<div class="container">
  <div class="row">
    <div class="profile img-fluid col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img src="../../../assets/profile.jpg" />
      <div class="editProfile">
        <button><i class="fa-regular fa-pen-to-square"></i></button>
      </div>
    </div>
    <div
      class="datos col-xs-12 col-sm-8 col-md-8 col-lg-8"
      style="text-align: center"
    >
      <h2 id="nombre"><b>{{persona.nombre}} {{persona.apellido}} </b></h2>
      <h3 id="puesto">Full Stack Developer</h3>
      <h4 id="ubicacion">Mendoza (Argentina)</h4>

        <button id="editButton">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="acercademi" style="text-align: center">
    <h2>Acerca de mí...</h2>
    <p>Aqui va un parrafo con mas informacion sobre mi</p>
    <div class="editAcercademi">
      <button><i class="fa-regular fa-pen-to-square"></i></button>
    </div>
  </div>

