.banner {
  background: url(../../../assets/banner.jpg);
  background-size: cover;
  position: relative;
}

.profile img {
  width: 90%;
  border-radius: 50%;
  transform: translateY(50%);
  position: relative;
  float: left;
}
