<div class="banner col-12 d-flex d-flex justify-content-between p-4">
  <div class="profile col-3 img-circle">
    <img src="../../../assets/profile.jpg" />
  </div>
  <div class="editBanner col-3">
    <img
      src="https://th.bing.com/th/id/OIP.nZpGZCcZCgYrK9ihb5HtqQHaHa?w=188&h=188&c=7&r=0&o=5&dpr=1.2&pid=1.7"
      alt="editar"
    />
  </div>
</div>

<div class="info col-12 d-flex justify-content-between">
  <div class="editProfile col-3">
    <img
      src="https://th.bing.com/th/id/OIP.nZpGZCcZCgYrK9ihb5HtqQHaHa?w=188&h=188&c=7&r=0&o=5&dpr=1.2&pid=1.7"
      alt="editar"
    />
  </div>
  <div class="espacio col-1"></div>
</div>
