<div class="experiencia col-12">
  <div class="titulo col-6"></div>
  <h2>EXPERIENCIA</h2>
</div>
<ul>
  <li class="exp1 d-flex">
    <h4>funcion</h4>
    -
    <h5>fecha</h5>
    <h5>brebe descripcion de un trabajo</h5>

    <div class="editDatos p-2">
      <button class="button-edit btn btn-light">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </div>
    <div class="deleteDatos p-2">
      <button class="button-delete btn btn-light">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
  </li>
  <li class="exp2 d-flex">
    <h4>funcion</h4>
    -
    <h5>fecha</h5>
    <h5>brebe descripcion de un trabajo</h5>

    <div class="editDatos p-2">
      <button class="button-edit btn btn-light">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </div>
    <div class="deleteDatos p-2">
      <button class="button-delete btn btn-light">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
  </li>
  <li class="exp3 d-flex">
    <h4>funcion</h4>
    -
    <h5>fecha</h5>
    <h5>brebe descripcion de un trabajo</h5>

    <div class="editDatos p-2">
      <button class="button-edit btn btn-light">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </div>
    <div class="deleteDatos p-2">
      <button class="button-delete btn btn-light">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
  </li>
</ul>
