<div
  class="navBar col-12 d-flex justify-content-between p-3 mb-2 bg-danger text-white"
>
  <div class="logos col-5 d-flex flex-row">
    <div class="ap col-3">
      <a href="https://argentinaprograma.inti.gob.ar/">
        <img
          src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1655937940/APLogo-20-20.png"
          alt="Argentina Programa"
      /></a>
    </div>
    <div class="inti col-10">
      <a href="https://argentinaprograma.inti.gob.ar/"
        ><img
          src="https://argentinaprograma.inti.gob.ar/theme/moove/pix/LogosInti.png"
          alt="Inti"
      /></a>
    </div>
  </div>

  <div class="contact col-4">
    <img
      class="whatsapp col-4 border border-light"
      src="https://th.bing.com/th/id/OIP.IdQaIKyUhG6lo2weLh7RVgHaHa?pid=ImgDet&rs=1"
    />
    <img
      class="face col-4 border border-light"
      src="https://th.bing.com/th/id/OIP.MsrNOqLotNd6S13I4nJOaQHaHa?w=188&h=188&c=7&r=0&o=5&dpr=1.2&pid=1.7"
    />
    <img
      class="instagram col-4 border border-light"
      src="https://th.bing.com/th/id/OIP.evnc3PXyebSWl33SmwOWwAHaHa?w=186&h=186&c=7&r=0&o=5&dpr=1.2&pid=1.7"
    />
  </div>
  <div class="login col-3 d-flex flex-round-reverse">
    <div class="espacio col-6"></div>
    <div class="IconLogin col-2">
      <img
        src="https://th.bing.com/th/id/OIP.0ANM23RQTkENBBpjLg9AKAHaHV?w=196&h=194&c=7&r=0&o=5&dpr=1.2&pid=1.7"
        alt="IconLogin"
      />
    </div>
    <div class="boton col-3">
      <button type="button" class="btn btn-primary">log</button>
    </div>
  </div>
</div>
