<div
  class="navBar flex-row col-12 d-flex justify-content-between p-3 mb-2 bg-danger text-white"
>
  <div class="logos col-5 d-flex flex-row">
    <div class="ap col-3">
      <a href="https://argentinaprograma.inti.gob.ar/">
        <img
          class="img-fluid"
          src="../../../assets/APLogo.png"
          alt="Argentina Programa"
      /></a>
    </div>
    <div class="inti col-10">
      <a href="https://argentinaprograma.inti.gob.ar/"
        ><img class="img-fluid" src="../../../assets/LogosInti.png" alt="Inti"
      /></a>
    </div>
  </div>

  <div class="contact col-4">
    <a href="">
      <img
        class="whatsapp col-4 border border-light"
        src="../../../assets/wppLogo.jpg"
    /></a>
    <a href="">
      <img
        class="face col-4 border border-light"
        src="../../../assets/faceLogo.jpg"
    /></a>
    <a href=""
      ><img
        class="instagram col-4 border border-light"
        src="../../../assets/instLogo.jpg"
    /></a>
    <a href=""
      ><img
        class="github col-4 border border-light"
        src="../../../assets/githubLogo.jpg"
    /></a>
  </div>
  <div class="login col-3 d-flex flex-round-reverse">
    <div class="espacio col-6"></div>

    <div class="boton col-3">
      <button type="button" class="btn btn-primary">log</button>
    </div>
  </div>
</div>
