
.educ1 img {
  width: 100%;
  position: relative;
  float: left;
}

.educ1 {
  margin-top: -3%;
}

.educ2 img {
  width: 45%;
  position: relative;
  float: left;
}

.educ2 {
  margin-top: 5%;
}

.educ3 img {
  width: 100%;
  position: relative;
  float: left;
}

.educ3 {
  margin-top: 10%;
}
